.btn-border{
    border-color: #717CFF;
}
.text-site-gradient{
    color: #717CFF!important;
}
.bg-site-image{
    height: 90dvh;
    background-size: 40%;

    background-image: url("../images/Image.png");
    background-repeat: no-repeat;
    background-position: right;
}

.bg-card{
    background: rgb(255, 255, 255)!important;
}
.icons .fa-heart{
    cursor: pointer;
}
.header-title {
    font-size: 75px;
    font-weight: bold; 
}
.header-description{
    font-size: 19px;

}
.section-description{
    font-size: 22px;
}
.text-bold {
    font-weight: bold; 
}
.text-gray {
    color: #373737; 
}
.news .images img{
    height: 25dvh;
    object-fit: cover;
    
}
@media screen and (max-width: 992px) {
    .bg-site-image{
        background-size: 90%;
        background-position: right;
    }
    .header-title{
        font-size: 30px;
    }
    .logo{
        width: 100px; 
        height: auto; 
        position: absolute;
        top: 10px;
        left: 10px;

    }
    .header-description{
        font-size: 20px;
    }
   
}
.nav-link {
    position: relative;
}
.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-link:hover::before,
.nav-link.active::before {
    background-color: #717CFF; 
}

.icon-space {
    margin: 0 10px; 
}

.fa-brands-icon a i {
    font-size: 25px; 
    color: #262626;
}

.bg-gray{
    background-color: #FAFAFA;
}
.btn-purple {
    background-color: #717CFF;
    border-color: #717CFF;
    color: white; 
    font-size: 19px;
  }
  .btn-purple i {
    margin-left: 0.5rem;
    transition: transform 0.2s;
}

.btn-purple:hover i {
    transform: translateX(5px); 
}
// circle-icon
.circle-icon-violet{
    background-color: #717CFF;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
.circle-icon-red{
    background-color: #FF5959;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
.circle-icon-blue{
    background-color: #5C96FF;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
.circle-icon-pink{
    background-color: #FA706C;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
.circle-icon-green{
    background-color: #90EE90;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
.learn-more {
    display: inline-block;
    margin-top: 1rem;
    color: #717CFF; 
    text-decoration: none;
    font-weight: bold;
}
.learn-more i {
    margin-left: 0.5rem;
    transition: transform 0.2s;
}

.learn-more:hover i {
    transform: translateX(5px); 
}
.mt-5 {
    margin-top: 6rem !important;
  }
.carousel-inner .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
  }
  .carousel-inner .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  .carousel-control-prev i,
  .carousel-control-next i {
    font-size: 24px; 
  }
//button pagina country
.btn-custom {
    background-color: #717CFF;
    border-color: #717CFF;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.btn-custom:hover {
    background-color: #5a63e0;
    border-color: #5a63e0;
    transform: scale(1.05);
}

.btn-custom:active {
    background-color: #434bc4;
    border-color: #434bc4;
}

.btn-custom:focus {
    box-shadow: 0 0 0 0.2rem rgba(113, 124, 255, 0.5);
}




.social-icons a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px; 
}

.social-icons a:hover {
    color: #d1d1d1; 
}

