.text-site-light{
    color: #717CFF!important;
}
.btn-bg-light{
    background:  #717CFF;
}
.btn-bg-dark{
    background: #030812;
}
.btn-bg-secondary{
    background: #3C485D;
}
.btn-radius{
    border-radius: 24px;
}
.radius{
    border-radius: 24px;
}
.btn-border{
    border-color: #717CFF;

}
.text-site-gradient{
    color: #717CFF!important;
}
.bg-site-image{
    height: 90dvh;
    background-image: url("../images/Image.png");
    background-repeat: no-repeat;
    background-position: right;
}
.title h2{
    font-size: 55px;
}
.bg-card{
    background: rgb(255, 255, 255)!important;
}
.icons .fa-heart{
    cursor: pointer;
}
.header-title{
    font-size: 48px;
}
.header-description{
    font-size: 20px;
}


.news .images img{
    height: 25dvh;
    object-fit: cover;
    
}
@media screen and (max-width: 992px) {
    .bg-site-image{
        background-size: 100%;
        background-position: top;
    }
    .title h2{
        font-size: 40px;
    }
}
.nav-link {
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-link:hover::before,
.nav-link.active::before {
    background-color: #717CFF; 
}



.icon-space {
    margin-right: 10px; 
}
.bg-gray{
    background-color: #E6E5E5;
}

.btn-purple {
    background-color: #717CFF;
    border-color: #717CFF;
    color: white; 
  }
  

// circle-icon
.circle-icon-violet{
    background-color: #717CFF;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
.circle-icon-red{
    background-color: #FF5959;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
.circle-icon-blue{
    background-color: #5C96FF;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
.circle-icon-pink{
    background-color: #FA706C;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
.circle-icon-green{
    background-color: #90EE90;
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}
